{$GEO_DOMAIN} {
	encode zstd gzip
	@admin not path /api/collector/*
	basic_auth @admin {
		admin {$GEO_ADMIN_HASH}
	}
	handle /api/collector/* {
		reverse_proxy worker:3010
	}
	handle /api/* {
		reverse_proxy worker:3010
	}
	handle /artifacts/* {
		reverse_proxy worker:3010
	}
	handle {
		reverse_proxy web:80
	}
}
